In [1]:
print(kku.head(10))

NameError: name 'kku' is not defined

In [ ]:
print(kku.tail())

In [ ]:
import pandas as pd
kku=pd.read_excel('data11.xlsx')
kku

In [ ]:
kku=pd.read_excel('data11.xlsx')

In [ ]:
kku

In [ ]:
import pandas as pd

df = pd.read_json('sample4.json')
df

In [ ]:
print(df.head(2))

In [ ]:
print(kku.head(3))

In [ ]:
print(kku.tail(6))

In [ ]:
print(kku.info())

In [ ]:
print(kku.describe())

In [ ]:
print(kku.shape)

In [ ]:
print(kku.columns)

In [ ]:
print(kku.dtypes)

In [8]:

import pandas as pd
data={
    "Name":["Alice","bob","charlie"],
    "Age":[25,30,35],
    "city":["newyork","losangels","chicago"]
}
df=pd.DataFrame(data)
print(df)
df.to_csv("data.xlsx",index=False)

      Name  Age       city
0    Alice   25    newyork
1      bob   30  losangels
2  charlie   35    chicago